<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet"> 

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="css/aboutus.css">
</head>
<body>

  <section id="about-us">
    <div class="container my-5">
      <div class="row">

        <div class="col-md-6">
        <div class="about-content title mb-3">
          <h2>
            About Us <br>
            Our History <br>
            Mission & Vision <br>
          </h2>
          <p class="mb-3">
            VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way. VoizFonica business is very technology dependent as company acts as a network service provider (NSP) in mobile. <br>VoizFonica is a company that is aware of the new challenges posed by today’s society. This is why the company offers the means to facilitate communication between people, providing them with the most secure and state of the art technology in order for them to live better, and for them to achieve whatever they resolve.
          </p>
          
        </div>
      </div>

        <div class="col-md-6">
          <img src="https://images.unsplash.com/photo-1558282824-6100cafce720?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=764&q=80" class="img-fluid" alt="">
        </div>
      </div>

    </div>
  </section>

  
</body>
</html>