<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Voizfonica Help</title>
  <link rel="stylesheet" href="css/faqcss.css">
</head>
<body>

<div id="stips-container">

  <div class="stips-top">

        <h2 class="stips-title">Top Tips To Help You Play Smart</h2>
    <div class="stips-split">
    <div class="stips-content">
          <p>Check out these tips to help you play smart.</p>
      </div>
   
        <div class="stips-icon"><img src="https://image.flaticon.com/icons/svg/49/49144.svg" alt="" /></div>
  
    </div>

  </div>

  <div class="stips-section stips-money-tips">
    <div class="stips-header">
      <div class="stips-icon"><img src="https://image.flaticon.com/icons/svg/1611/1611195.svg" alt="" /></div>
      <div class="stips-title">Bills and Payments</div>
      <div class="stips-toggle">
        <div class="stips-button"></div>
      </div>
    </div>
    <div class="stips-content">
     
      <h4>Want to understand your Current Bill?</h4>
      <p>
	  You can check your current bill details by logging on to Voizfonica Website >> Bills and Payments >> View Bills.
<br>
You may also download the Voizfonica App and view bill details by going to Main menu >> Bills and Payments
         </p>
      <h4>Want to Pay your Bill?</h4>
      <p>
        You can pay your Voizfonica bills via any of the below mentioned modes:
	<br>
	
	(1) Voizfonica Website - Pay bill in just 2 steps on the go!
	<br>(2) Visit nearest retail store
	<br>(3) Cheque- Drop a cheque in nearest Vodafone store
	<br>(4) Auto- Payment- Activate standing instruction for automated monthly payments. Activate now
	<br>(5) Net Banking and other wallets - Any bank app or other payment apps like Paytm
      </p>
      <h4>Want a Duplicate Bill?</h4>
      <p>
        You can view/download/Email your bills by logging on to vodafone.in and clicking the Bills and payments section. Your previous bills are available under View Bills section.
      </p>
    </div>
  </div>
  <div class="stips-section stips-time-tips">
    <div class="stips-header">
      <div class="stips-icon"><img src="https://image.flaticon.com/icons/svg/1497/1497750.svg" alt="" /></div>
      <div class="stips-title">Data Useage</div>
      <div class="stips-toggle">
        <div class="stips-button"></div>
      </div>
    </div>
    <div class="stips-content">
      <h4>What is Voizfonica 4G?</h4>
      <p>Vodafone 4G (short for 4th Generation) is the next evolution in mobile technology. It provides significantly improved internet experience for a smartphone user.
<br>
You will enjoy almost instantaneous web page loading, faster photo viewing on Facebook and video streaming without the wait.</p>

      <h4>Difference between 4G & 3G/2G</h4>
      <p>
        In one word: Speed.<br>

Vodafone 4G provides faster internet speed, up to ten times faster than the current 3G speed.</p>

      <h4>Seperate SIM for 4G Services?</h4>
      <p>
        Yes, you will need a separate SIM to use 4G services. Visit any of our stores for a free 4G SIM upgrade.
		</p>
    </div>
  </div>
  <div class="stips-section stips-things-know">
    <div class="stips-header">
      <div class="stips-icon"><img src="https://image.flaticon.com/icons/png/512/1771/1771013.png" alt="" /></div>
      <div class="stips-title">New to Voizfonica</div>
      <div class="stips-toggle">
        <div class="stips-button"></div>
      </div>
    </div>
    <div class="stips-content">
      
    <div class="stips-section stips-sub">
        <div class="stips-header">
          <div class="stips-title stips-grey">Want to buy a new Postpaid Connection</div>
          <div class="stips-toggle">
            <div class="stips-button stips-grey"></div>
          </div>
        </div>
        <div class="stips-content">


<p>Great choice!<br>

You can buy a new postpaid connection online and get it delivered to your doorstep by simply sharing your details with us</p>

        </div>
      </div>
      
          <div class="stips-section stips-sub">
        <div class="stips-header">
          <div class="stips-title stips-grey">Want to convert from Prepaid to Postpaid Connection</div>
          <div class="stips-toggle">
            <div class="stips-button stips-grey"></div>
          </div>
        </div>
        <div class="stips-content">

<p>Great choice!<br>

You can convert your Prepaid connection to Postpaid online and get the new SIM delivered to your doorstep by sharing your details with us.
<br>
Also, you can visit the Voizfonica store to switch from Prepaid to Postpaid connection. Please do carry your Aadhaar card with you.
</p>

        </div>
      </div>
      
          <div class="stips-section stips-sub">
        <div class="stips-header">
          <div class="stips-title stips-grey">Want to port to Voizfonica</div>
          <div class="stips-toggle">
            <div class="stips-button stips-grey"></div>
          </div>
        </div>
        <div class="stips-content">


<p>Great choice!<br>

Please generate a UPC code by sending PORT to 1900 from your existing network provider. Kindly clear all your dues before porting. You can then order a new Vodafone connection online and get it delivered to your doorstep by simply sharing your details with us.
<br>Also, you can visit the Voizfonica store or Retail store to port your existing connection to Voizfonica. Please do carry your Aadhaar card with you.
</p>
        </div>
      </div>
      
          <div class="stips-section stips-sub">
        <div class="stips-header">
          <div class="stips-title stips-grey">Want to know existing plans and packs</div>
          <div class="stips-toggle">
            <div class="stips-button stips-grey"></div>
          </div>
        </div>
        <div class="stips-content">


<p>You can view your plan and packs details by logging on to Vodafone.in. Click here<br>

You may also download the MyVodafone App Here and view your plan and packs by going to Main Menu >> Active plans and packs.</p>


        </div>
      </div>
      
      
          <div class="stips-section stips-sub">
        <div class="stips-header">
          <div class="stips-title stips-grey">Logging in to My Account</div>
          <div class="stips-toggle">
            <div class="stips-button stips-grey"></div>
          </div>
        </div>
        <div class="stips-content">
<h4>I can’t login </h4>

<p>If you are having trouble logging in to your account, try resetting your password by requesting a password reset from the login screen. Use the Forgotten your username or password link <a href="https://www.sunbingo.co.uk/forgotten_password">here</a> and follow the instructions. And check to make sure there are no spelling mistakes in your username or password. If you are still not able to access your account, please call or email our <a href="/contactus">customer service team</a> who are ready to help. </p>

<h4>My account is frozen</h4>
<p>There could be a few reasons for a frozen account. You may have incorrectly typed in your username or forgotten your password in which case you can call or email our <a href="/contactus">customer service team</a> to resolve the issue.</p>
<p>Or you may have a locked or suspended account. Get in touch with our <a href="/contactus">customer service team</a> who will help you. </p>
<p>If you see an error message on your screen, please take a screenshot to capture the message and then contact our <a href="/contactus">customer service team</a> who will help resolve the issue.</p>

<h4>I can’t get my account to work</h4>
<p>If you are having trouble accessing your account, here are a few things to help get you back in as easily and pain free as possible.</p>
<p>
•	Usernames are case sensitive, if you are unable to remember your username you can send yourself a reminder <a href="https://www.sunbingo.co.uk/forgotten_password">here</a><br>
•	Try logging in with the registered email address.<br>
•	If you cannot remember your password, you can reset this <a href="https://www.sunbingo.co.uk/forgotten_password">here</a><br>
•	Alternatively, you can contact our <a href="/contactus">customer service team</a> who will be more than happy to help you.
</p>

        </div>
      </div>
      
          
      
      

    </div>
  </div>
  <div class="stips-section stips-handy-tools">
    <div class="stips-header">
      <div class="stips-icon"><img src="https://image.flaticon.com/icons/svg/1948/1948896.svg" alt="" /></div>
      <div class="stips-title">Account / SIM Related</div>
      <div class="stips-toggle">
        <div class="stips-button"></div>
      </div>
    </div>
    <div class="stips-content">
<p>
•	All you need to do is simply visit any of our Voizfonica Stores.<br>
•	Fill in a Service Request Form, along with your latest (not older than 3 months) Proof Of Address (POA) and Proof Of Identity (POI). On submission of correct and complete documents, your address will be changed within 3 days.<br>
•	You will receive your latest bill at the new address if the address change request with complete documents has been submitted at least 4 days prior to your bill date.<br>
•	Do carry originals for verification purpose. To know acceptable POA/POI<br>
      
</p>
      <h4>How do I update my Date of Birth?</h4>
      <p>
        Submit your Proof of Identity (POI) showing the Date of Birth, on receipt of correct documents this shall be rectified within 30 mins. For list of acceptable POI documents </p>

      <h4>How do I update/change my alternate number?</h4>
      <p>
        Send an sms as ALT Your Alternate Number to 199 (toll free), the number will be updated in your Vodafone account within 30 mins.
You can also update it using the myVodafone app.
      </p>
    </div>
  </div>
</div>
<!-- partial -->
  <script  src="script/faqscript.js"></script>

</body>
</html>